<div id="about" class="lg:w-[75%] mx-auto lg:p-16 p-8 space-y-12 scroll-margin-top">
  <div class="flex flex-col md:flex-row items-center md:items-start gap-8">
    <img class="w-full md:w-1/2 h-64 object-cover rounded-lg" src="/assets/sign.jpg" alt="Our Restaurant" />
    <div class="flex-grow">
      <p class="lg:text-lg mb-4">
        Welcome to our family-owned Puerto Rican restaurant in Virginia Beach, VA. We've grown from our humble beginnings as a food truck to establish a cozy, authentic eatery where we continue to share our passion for Puerto Rican cuisine with our community.
      </p>
      <p class="lg:text-lg">
        Our restaurant maintains the same commitment to quality and flavor that made our food truck a local favorite.
      </p>
    </div>
  </div>

  <div class="flex flex-col md:flex-row-reverse items-center md:items-start gap-8">
    <img class="w-full md:w-1/2 h-64 object-cover rounded-lg" src="/assets/truck.png" alt="Our Food Truck" />
    <div class="flex-grow">
      <p class="lg:text-lg mb-4">
        Our journey began with a food truck, where we first introduced Virginia Beach to the rich flavors of Puerto Rico. The overwhelming support from our community encouraged us to expand and open our restaurant, allowing us to serve even more customers and offer a wider range of authentic dishes.
      </p>
    </div>
  </div>
</div>
