<div id="about" class="lg:w-[75%] mx-auto lg:p-16 p-8 space-y-4 scroll-margin-top">
  <h2 class="text-3xl font-bold">About Us</h2>
  <div class="flex flex-col sm:flex-row">
    <img class="h-64 mb-4 sm:mb-0 sm:pr-4" src="/assets/truck.png" alt="" />
    <p class="flex-grow">
      We are a Puerto Rican food truck dedicated to bringing you authentic and delicious dishes that showcase the vibrant flavors of Puerto Rico.
      Our mission is to share our love for Puerto Rican cuisine with our community in Virginia Beach, VA, and provide a memorable culinary experience.
      Our menu is carefully curated with mouthwatering dishes that capture the essence of Puerto Rican cuisine. Join us at our food truck and indulge in the diverse flavors and vibrant culture of Puerto Rico. We look forward to serving you and providing a memorable experiance that will leave you craving more.
    </p>
  </div>
</div>
