<nav id="nav-items" class="sticky top-0 z-50">
  <div class="flex justify-between items-center p-4 bg-white text-black">
    <a id="logo" class="flex items-center space-x-2 lg:ml-56" href="#">  <!-- Add 'flex' and 'items-center' class here -->
      <h1 class="font-bold text-4xl">CAPÍCU</h1>
      <img class="h-6" src="/assets/pr.png" alt="">
    </a>
    <div class="flex-1 text-center">
      <div class="inline-block">
        <a href="#about" class="hover:underline hover:decoration-[orange] lg:mr-16">About</a>
        <a href="#menu" class="hover:underline hover:decoration-[orange] mx-4 lg:mr-16">Menu</a>
        <a href="#location" class="hover:underline hover:decoration-[orange]">Location</a>
      </div>
    </div>
  </div>
</nav>
