<div id="location" class="lg:w-[75%] mx-auto lg:p-16 py-6 space-y-4 scroll-margin-top">
  <h2 class="text-3xl font-bold px-6 lg:px-0">Location</h2>
  <div class="flex flex-col lg:flex-row items-center lg:space-x-4">
    <div class="w-full lg:w-1/2">
      <!-- Embedded Google Maps iframe -->
      <div class="aspect-w-3 aspect-h-2 ">
        <iframe class="w-full lg:w-[80%] h-64" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3194.2006961651205!2d-76.10121819999999!3d36.8137104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89babfe38c28116b%3A0x1f265f5cdacd88b0!2s979%20Chimney%20Hill%20Pkwy%2C%20Virginia%20Beach%2C%20VA%2023452!5e0!3m2!1sen!2sus!4v1688744872216!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="w-[90%] lg:w-1/2 mt-4 lg:mt-0">
      <p class="text-xl">
        Visit us at:<br>
        <a class="text-orange-400 hover:text-orange-600" href="https://www.google.com/maps/place/979 Chimney Hill Pkwy, Virginia Beach, VA 23462" target="_blank" rel="noopener noreferrer">979 Chimney Hill Pkwy, Virginia Beach, VA 23462</a><br>
      </p>
      <p class="text-xl">Thursday - Saturday</p>
<br>
<div class="flex lg:flex-row flex-col">
    <p class="mr-2">For Parties and Events Call: </p> <a class="text-orange-400 hover:text-orange-600 text-xl" href="tel:+17572708119"> (757)-270-8119</a>
  </div>
  </div>
  </div>
</div>
