<div class="flex flex-col items-center justify-center p-4 bg-black min-h-screen">
  <div class="content mb-8 w-full text-center text-xl">
    <a href="#" target="_blank" class="text-orange-300 hover:text-orange-500 underline">Visit our website</a>
  </div>

  <img src="/assets/menu.png" alt="Menu" class="lg:w-[30vw] border-2 border-white">

  <div class="content mt-8 w-full text-center text-lg">
    <a href="https://www.instagram.com/capicu_pr_foodtruck/" target="_blank" class="text-orange-300 hover:text-orange-500 underline">Follow us on Instagram</a>
  </div>
</div>
