<div class="flex flex-col items-center justify-center p-4 bg-[#232324] min-h-screen">
  <div class="content mb-8 w-full text-center text-xl">
    <button class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300">
      <a href="#" target="_blank" class="text-white underline text-xl">Visit our website</a>
    </button>
  </div>

  <img src="/assets/fullmenu.png" alt="Menu" class="lg:w-[30vw] border-2 border-white">

  <div class="content mt-8 w-full text-center text-lg">
    <button class="bg-black hover:bg-gray-800 text-white font-semibold py-2 px-6 rounded-full transition duration-300">
      <a href="https://www.instagram.com/capicu_pr_foodtruck/" target="_blank" class="text-orange-500 hover:text-orange-400 underline">Follow us on Instagram</a>
    </button>
  </div>
</div>
